<div class="navbar">
    <div class="container">
        <div class="nav-flex w-100">
            <div class="nav-left-flex">
                <a class="text-secondary">Accounts</a>
            </div>
            <div class="nav-right-flex">
                <a class="text-secondary" (click)="onLogout()">Logout</a>
            </div>
        </div>
    </div>
</div>
