<div class="navbar">
    <div class="container">
    <p class="text-secondary navbar-title">Budget Insight Test</p>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>Budget Insight Test</h1>
        <p>Welcome on the home page of my little web app in angular.</p>
        <p>It is a technical test to join Budget Insight as a developer.</p>
        <p>Hope it's good enough :P</p>
    </div>
    <p *ngIf="error" class="alert alert-danger text-center">The connection with the webview has been cancelled</p>
    <app-webview-launcher
            (emitLaunchWebview)="launchWebview()">
    </app-webview-launcher>
</div>
