<div class="container">
  <h1>Account list</h1>
  <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col" class="text-right">Balance</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let account of accounts">
    <td class="w-auto">{{account.accountNumber}}</td>
    <td class="w-100">{{account.originalName}}</td>
    <td class="text-right w-auto">{{account.formattedBalance}}</td>
  </tr>
  </tbody>
</table>
</div>
