.btn-primary {
    background-color: #ff6100;
    border-color: #ff6100;
}

.btn-primary:hover {
    background-color: #E84C11;
    border-color: #E84C11;
}

.text-secondary {
    color: #fff!important;
}

.alert {
    margin-top: 1rem;
}

.jumbotron {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar {
    background-color: #112128;
}

.navbar-title {
    font-size: 2rem;
    margin: 0 2rem 0 0;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.nav-left-flex {
    display: flex;
    align-items: center;
    align-content: flex-start;
}

h1 {
    margin-bottom: 2rem;
}

p {
    margin-bottom: 0.5rem;
}

a {
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    body {
        font-size: 0.7rem;
    }
}

